$font-text = "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;

$color-white = #fff
$color-light = #f8f8f8
$color-dark = #2c3e50

$width = 800px
$height = 300px

html
  font-family $font-text
  font-size 18px
  color $color-dark
  background-color $color-light
  line-height 1.5

h1
  margin 2em 0

.container
  clearfix()
  margin 0 auto
  width $width

.selector
  display flex
  padding 0
  margin 3em 0

.selector__item, .selector__item--selected
  flex-grow 1
  height 5em
  line-height 5em
  text-align center
  list-style none
  transition all 0.3s
  cursor pointer

.selector__item--selected
  background-color $color-white

.slider *
  float left

.slider__label
  margin-right: 1em

.slider__input
  height 3em
  width 100%
  margin 0 0 3em 0

.loader
  float left
  width $width
  height $height
  line-height $height
  text-align center
