
path
  stroke: $color-dark
  stroke-width: 1
  fill: none

path.area
  fill: $color-white

.axis
  shape-rendering: crispEdges

.x.axis path, .x.axis line
  fill: none
  stroke: $color-dark

.y.axis path
  fill: none
  stroke: $color-dark

text
  font-size 0.5em
