
path
  stroke: #e7e7e7
  stroke-width: 1
  fill: none

path.area
  fill: #e7e7e7

.axis
  shape-rendering: crispEdges

.x.axis path, .x.axis line
  fill: none
  stroke: $color-dark

.y.axis path
  fill: none
  stroke: $color-dark
